<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>Cambiar contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-back-button slot="start" defaultHref="/">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding fondo">
 
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="password" type="password" label="Contraseña actual" labelPlacement="floating" id="password"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="newPassword" type="password" label="Ingresar nueva contraseña" labelPlacement="floating" id="newPassword"></ion-input>
  </ion-item>
  <ion-item class="input" lines="none">
    <ion-input [(ngModel)]="newConfirmPassword" type="password" label="Confirmar nueva contraseña" labelPlacement="floating" id="newConfirmPassword"></ion-input>
  </ion-item>
  <ion-button (click)="cambiarContrasena()" class="boton" >Cambiar contraseña</ion-button>
</ion-content>
