/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.barra {
    --background: #0075fc;
    --color: #FFFFFF;
}

.fondo {
    --background: #f8f8f8;
}

.boton {
    --background: #0075fc;
    --color: #FFFFFF;
    margin-top: 10px;
    height: 56px;
}

.input {
    --background: #FFFFFF;
    --color: #000000;
    border: 2px solid #0075fc;
    border-radius: 5px;
    margin-top: 5px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.item-warning {
    --background: #8c00ff;
    --color: #FFFFFF;
    margin-top: 10px;
    border-radius: 5px;
}
.divs{
    margin-left: auto;
    margin-right: auto;
}

.label{
    color: black;
    margin-top: 230px;
}

.img{
    
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 130px;
    margin-bottom: 100px;
}

.img-crear{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 150px;
}
.img-logo-principal{
    display: block; /* Asegura que el margen automático funcione */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width: 200px;
    height: 200px;
}
.mensaje-descripcion {
    color: #000000;
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio entre la imagen y el texto */
    padding: 10px;
    font-size: 16px;
}